{% extends "myaccount.html" %}

{% load to_phone %}

{% load static %}

{% block myaccount-content %}
<link rel="stylesheet" type="text/css"
    href="{% static 'home/shipping.css' %}" />
<script type="text/javascript"
    src="{% static 'home/shipping.js' %}"></script>
<div class="shipping">
  <p class="title">SHIPPING DETAILS</p>
  <div class="hr"></div>
  {% if shipping %}
  <div class="shipping-addresses">
    {% for sh in shipping %}
    <div class="shipping-address" id="{{ sh.id }}">
      <input type="hidden" class="hidden first_name" value="{{ sh.first_name }}" />
      <input type="hidden" class="hidden last_name" value="{{ sh.last_name }}" />
      <input type="hidden" class="hidden street1" value="{{ sh.street1 }}" />
      <input type="hidden" class="hidden street2" value="{{ sh.street2 }}" />
      <input type="hidden" class="hidden city" value="{{ sh.city }}" />
      <input type="hidden" class="hidden state" value="{{ sh.state }}" />
      <input type="hidden" class="hidden zip" value="{{ sh.zip }}" />
      <input type="hidden" class="hidden phone" value="{{ sh.phone|to_phone }}" />
      <input type="hidden" class="hidden primary" value="{{ sh.primary }}" />
      <div class="address">
        <p class="shipping-entry">{{ sh.first_name }} {{ sh.last_name }}</p>    
        <p class="shipping-entry">{{ sh.street1 }}</p>    
        <p class="shipping-entry">{{ sh.street2 }}</p>    
        <p class="shipping-entry">{{ sh.city }}, {{ sh.state }} {{ sh.zip }}</p>    
        <p class="shipping-entry">Ph: {{ sh.phone|to_phone }}</p>    
      </div>
      <div class="primary">
        {% if sh.primary %}
        <input name="addr-group" type="radio" checked="checked"/>
        {% else %}
        <input name="addr-group" type="radio" />
        {% endif %}
        <label>Default Shipping</label>
      </div>
      <div class="links">
        <p class="link edit" url="{{ url_update_shipping_address }}" >edit</p>
        {% if not sh.primaryy %}
        <p class="link delete" url="{{ url_delete_shipping_address }}" >delete</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="address-panel" url="{{ url_save_shipping_address }}">
   <div class="address details-panel">
    <div class="row">
      <div class="entry first_name">
        <p class="label">First Name:</p>
        <input class="value" value="{{ first_name }}"/>
      </div>
      <div class="entry last_name">
        <p class="label">Last Name:</p>
        <input class="value" value="{{ last_name }}"/>
      </div>
    </div>
    <div class="row">
      <div class="entry street1">
        <p class="label">Street Address:</p>
        <input class="value" value="{{ street1 }}"/>
      </div>
    </div>
    <div class="row">
      <div class="entry street2">
        <p class="label">Street Address Line 2 (Optional):</p>
        <input class="value" value="{{ street2 }}"/>
      </div>
    </div>
    <div class="row">
      <div class="entry city">
        <p class="label">City:</p>
        <input class="value" value="{{ city }}"/>
      </div>
      <div class="entry state">
        <p class="label">State:</p>
        <input class="value" value="{{ state|upper }}"/>
      </div>
      <div class="entry zip">
        <p class="label">Zip:</p>
        <input class="value" value="{{ zip }}"/>
      </div>
    </div>
    <div class="row">
      <div class="entry phone">
        <p class="label">Phone:</p>
        <input class="value" value="{{ phone|to_phone }}"/>
      </div>
    </div>
   </div>
   <p class="button cancel">CANCEL</p>
   <p class="button save">SAVE</p>
  </div>
  <p class="button new-address" style="display:none">ADD A NEW SHIPPING ADDRESS</p>
</div>
{% if shipping %}
<div class="payments">
  <p class="title">PAYMENT DETAILS</p>
  <div class="hr"></div>
  {% if paymenttypes %}
  <div class="payment-types">
    {% for pt in paymenttypes %}
    <div class="payment-type" id="{{ pt.id }}">
      <input type="hidden" class="hidden first_name" value="{{ pt.first_name }}" />
      <input type="hidden" class="hidden last_name" value="{{ pt.last_name }}" />
      <input type="hidden" class="hidden street1" value="{{ pt.street1 }}" />
      <input type="hidden" class="hidden street2" value="{{ pt.street2 }}" />
      <input type="hidden" class="hidden city" value="{{ pt.city }}" />
      <input type="hidden" class="hidden state" value="{{ pt.state }}" />
      <input type="hidden" class="hidden zip" value="{{ pt.zip }}" />
      <input type="hidden" class="hidden expiry" value="{{ pt.expiry }}" />
      <input type="hidden" class="hidden primary" value="{{ pt.primary }}" />
      <div class="address">
        <p class="shipping-entry">{{ pt.type|upper }} ****{{ pt.number }}</p>    
        <p class="shipping-entry">Good Thru: {{ pt.expiry }}</p>    
        <br>
        <p class="shipping-entry">{{ pt.street }}</p>    
        <p class="shipping-entry">{{ pt.city }}, {{ pt.state }} {{ pt.zip }}</p>    
      </div>
      <div class="primary">
        {% if pt.primary %}
        <input name="pymt-group" type="radio" checked="checked"/>
        {% else %}
        <input name="pymt-group" type="radio" />
        {% endif %}
        <label>Default Payment Method</label>
      </div>
      <div class="links">
        <p class="link edit" url="{{ url_save_paymenttype }}" >edit</p>
        {% if not pt.primaryy %}
        <p class="link delete" url="{{ url_delete_paymenttype }}" >delete</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="payments-panel">
    <div class="same">
      <input type="checkbox" checked="checked" />
      <label>Billing Address is same as Shipping Address</label>
    </div>
    <div class="credit-card-panel" url="{{ url_save_payment_details }}">
      <div class="credit-card">
        <div class="row">
          <div class="entry number">
            <p class="label">Credit Card Number:</p>
            <input class="value" value=""/>
          </div>
        </div>
        <div class="row">
          <div class="entry expiry">
            <p class="label">Expiration:</p>
            <input class="value" value=""/>
          </div>
          <div class="entry cvv">
            <p class="label">CVV Code:</p>
            <input class="value" value=""/>
          </div>
        </div>
      </div>
      <div class="address-panel" url="{{ url_save_payment_address }}">
        <div class="payment details-panel">
          <div class="row">
            <div class="entry first_name">
              <p class="label">First Name:</p>
              <input class="value" value="{{ first_name }}"/>
            </div>
            <div class="entry last_name">
              <p class="label">Last Name:</p>
              <input class="value" value="{{ last_name }}"/>
            </div>
          </div>
          <div class="row">
            <div class="entry street1">
            <p class="label">Street Address:</p>
              <input class="value" value="{{ street1 }}"/>
            </div>
          </div>
        <div class="row">
            <div class="entry street2">
              <p class="label">Street Address Line 2 (Optional):</p>
              <input class="value" value="{{ street2 }}"/>
            </div>
          </div>
          <div class="row">
            <div class="entry city">
              <p class="label">City:</p>
              <input class="value" value="{{ city }}"/>
            </div>
            <div class="entry state">
              <p class="label">State:</p>
              <input class="value" upper }}" value="{{ state|upper }}"/>
            </div>
            <div class="entry zip">
              <p class="label">Zip:</p>
              <input class="value" value="{{ zip }}"/>
            </div>
          </div>
          </div>
      </div>
      <p class="button cancel" >CANCEL</p>
      <p class="button save" style="display:none" url="{{ url_save_paymenttype }}">SAVE</p>
    </div>
  </div>
  <p class="button new-payment" style="display:none">ADD A NEW PAYMENT METHOD</p>
{% endif %}
</div>
{% endblock %}
