{% extends "base2.html" %}

{% load static %}

{% block basehead %}
  <link rel="stylesheet" type="text/css"
    href="{% static 'cart/cart.css' %}" />
  <script type="text/javascript"
    src="{% static 'cart/cart.js' %}"></script>
{% endblock %}

{% block basebody %}
<div class="cart-panel">
  <table class="main">
    <tr>
      <td>
        <p class="header">Your Cart</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="bottom-panel">
          <div class="left-panel">
            <table class="item-panel">
              {% if cart_items %}
              {% for c in cart_items %}
              <tr class="item" id="{{ c.id }}" item-id="{{ c.item_id }}">
                <td class="item-cell">
                  <div class="image-cell">
                    <img class="bottle"
                         src="{% static 'facepackwizard/images/Blur-Stick-cap-655x1024.png' %}" alt="" />
                  </div>
                  <div class="ingredient-cell">
                    <p class="made-with">Made With</p>
                    <div class="ingredient-panel">
                      {% for m in c.mandatory %}
                      <div class="ingredient-item">
                        <img src="/images/{{ m.image }}" alt="" />
                        <p class="name">{{ m.name|upper}}</p>
                      </div>
                      {% endfor %}
                      {% if c.optional %}
                      <div class="ingredient-item">
                        <img src="/images/{{ c.optional.image }}" alt="" />
                        <p class="name">{{ c.optional.name|upper }}</p>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <p class="uuid">UUID# {{ c.name }}</p>
                </td>
                <td class="type">
                  <select>
                    {% if c.type == "buy" %}
                    <option value="buy" selected="selected">Just this once</option>
                    <option value="subscribe">Never run out</option>
                    {% elif c.type == "subscribe" %}
                    <option value="buy">Just this once</option>
                    <option value="subscribe" selected="selected">Never run out</option>
                    {% endif %}
                  </select>
                  {% if c.type == "buy" %}
                  <p>Save with Auto Delivery</p>
                  {% endif %}
                </td>
                {% if c.type == "buy" %}   
                <td class="quantity">
                  <img class="up"
                       src="{% static 'cart/images/up-arrow.jpg' %}" alt="" />
                  <p>QTY: {{ c.quantity }}</p>
                  <img class="down"
                       src="{% static 'cart/images/down-arrow.jpg' %}" alt="" />
                </td>
                {% elif c.type == "subscribe" %}
                <td class="frequency">
                  <select>
                    {% if c.quantity == 4 %}
                    <option selected="selected" value="4">Regular care (4 applications)</option>
                    <option value="8">Intense care (8 applications)</option>
                    {% elif c.quantity == 8 %}
                    <option value="4">Regular care (4 applications)</option>
                    <option value="8" selected="selected">Intense care (8 applications)</option>
                    {% endif %}
                  </select>
                  {% if c.quantity == 4 %}
                  <p>once every 4 weeks</p>
                  {% elif c.quantity == 8 %}
                  <p>twice every 4 weeks</p>
                  {% endif %}
                </td>
                {% endif %}
                <td class="price-cell">
                  <p class="price">{{ c.price }}</p>
                  {% if c.type == "subscribe" %}
                  <p class="perpack">PER PACK</p><br>
                  {% endif %}
                  <p class="remove">REMOVE</p>
                </td> 
              </tr>
              {% endfor %}
              {% else %}
              <div class="empty-cart">
                <i>... is Empty. Start Shopping!</i>
              </div>
              {% endif %}
            </table>
          </div>
          {% if cart_items %}
          <div class="checkout-panel">
            <div class="subtotal-panel">
              <p class="name">Subtotal:</p>
              <p class="value">{{ subtotal }}</p>
            </div>
            <div class="shipping-panel">
              <p class="name">Shipping:</p>
              <select>
                  {% for s in shipping_items %}
                  {% if s.id == shipping_id %}
                  <option value="{{ s.id }}" selected="selected">{{ s.type }}</option>
                  {% else %}
                  <option value="{{ s.id }}">{{ s.type }}</option>
                  {% endif %}
                  {% endfor %}
              </select>
              <p class="cost">{{ shipping_cost }}</p>
            </div>
            <p class="helper">{{ shipping_helper }}</p>
            <p class="promo">Apply Promo Code or Gift Card</p>
            <hr>
            <div class="total-panel">
              <p class="name">Total Before Tax:</p>
              <p class="value">{{ total }}</p>
            </div>
            <p class="checkout">CHECKOUT</p>
          </div>
          {% endif %}
        </div> 
      </td>
    </tr>
  </table>
</div>
{% endblock %}
