div.facepack-match {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
}

div.facepack-match div.top {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
}

div.facepack-match img.bottle {
        display: inline-block;
        width: 190px;
        padding-right: 70px;
}

div.facepack-match div.details-panel {
        display: inline-block;
        vertical-align: top;
        text-align: left;
}

div.facepack-match div.details-panel p.made-with {
        font-family: "HelveticaNeue-UltraLight", sans-serif;
        color: black;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 10px;
        margin-left: 20px;
}

div.facepack-match div.ingredients-panel {
        display: block;
        text-align: left;
        padding-left: 10px;
}

div.facepack-match div.ingredient {
        vertical-align: top; 
        margin-right: 20px;
        display: inline-block;
}

div.facepack-match div.ingredient img {
        width: 190x;
}

div.facepack-match div.ingredient p.name {
        font-family: "Roboto";
        font-size: 16px;
        letter-spacing: 0.15em;
        font-weight: bold;
        text-align: left;
        margin-bottom: 5px;
        max-width: 200px;
        height: 40px;
}

div.facepack-match div.ingredient p.helper-text {
        font-family: "Roboto";
        font-size: 12px;
        width: 200px;
        text-align: left;
}

div.facepack-match div.learn-more-panel {
        background-image: url('images/Brush_Button.png');
        display: inline-block;
        background-size: 100% 100%;
        width: 66%;
        height: 120px;
        text-align: left;
        margin-top: 5px;
        margin-left: 28%;
}

div.facepack-match div.learn-more-panel:hover {
        background-image: url('images/Brush_Button_Hover.png');
        transition:.3s;
}

div.facepack-match div.learn-more-panel p {
        font-size: 14px;
        margin-top: 35px;
        margin-left: 40px;
        letter-spacing: 1px;
        display: inline-block;	
        width: 350px;
        color: white;
        font-family: Roboto;
        cursor: pointer;
}

div.facepack-match table.summary {
       display: none;
       padding: 10px;
       margin-top: 50px;
       border-spacing: 20px;
       margin-left: auto;
       margin-right: auto;
       border-top: 1px solid #DDD;
       border-bottom: 1px solid #DDD;
       border-radius: 6px;
}

div.facepack-match table.summary td.heading {
        font-family: "Roboto";
        font-size: 18px;
        letter-spacing: 2px;
        color: #ce9a2b;
}

div.facepack-match table.summary td.footer p.hide-summary {
        color: white;
        font-family: "Roboto";
        font-size: 12px;
        font-weight: bold;
        background-color: #88a470;
        border: 1px solid #88a470;
        vertical-align: middle;
        padding: 15px 20px 15px 20px;
        letter-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        cursor: pointer;
}

div.facepack-match table.summary td.footer p.hide-summary:hover {
        background-color: white;
        color: #88a470;
        transition:.3s;
}

div.facepack-match table.summary tr.ingr {
        text-align: center;
        border: 1px solid;
}

div.facepack-match table.summary tr.ingr > td {
        padding-bottom: 50px;
}

div.facepack-match table.summary tr.ingr td.header {
        font-family: "Roboto";
        font-size: 14px;
        letter-spacing: 2px;
        vertical-align: middle;
        text-align: left;
        color: #88a470;
}

div.facepack-match table.summary tr.ingr td.middle {
        vertical-align: middle;
}
div.facepack-match table.summary tr.ingr img {
        width: 100px;
}

div.facepack-match table.summary tr.ingr td.right {
        vertical-align: middle;
        width: 400px;
}

div.facepack-match table.summary tr.ingr td.right p.name {
        text-align: left;
        font-family: "Roboto";
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
}


div.facepack-match table.summary tr.ingr td.right p.helper {
        font-family: "Roboto";
        font-size: 12px;
        text-align: left;
}

div.facepack-match div.purchase-panel {
        text-align: left;
        margin-left: 29%;
        margin-right: auto;
        padding-left: 20px;
        margin-top: 10px;
}

div.facepack-match div.purchase-panel p.or  {
        display: table-cell;
        font-family: "Roboto";
        font-size: 14px;
        vertical-align: middle;
        padding: 0 15px 0 15px; 
}

div.facepack-match p.button  {
        display: table-cell;
        color: white;
        font-family: "Roboto";
        font-size: 12px;
        font-weight: bold;
        background-color: #88a470;
        border-radius: 3px;
        border: 1px solid #88a470;
        vertical-align: middle;
        padding: 10px 20px 10px 20px;
        letter-spacing: 0.175em;
        cursor: pointer;
}

div.facepack-match p.button.buy-clicked  {
        color: #88a470;
        border: 1px solid #88a470;
        background-color: white;
}

div.facepack-match p.button:hover {
        background-color: white;
        color: #88a470;
        transition:.3s;
}
