p.how-to-use, p.hear-other {
        text-align: center;
        font-family: "HelveticaNeue-UltraLight", sans-serif;
        transform: scaleX(0.9);
        color: #88a470;
        font-size: 60px;
        margin-top: 70px;
        margin-bottom: 50px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
}

div.how-to-use-panel {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
}

div.how-to-use-panel div.step {
        display: table-cell;
        padding-left: 30px;
        padding-right: 30px;
}

div.how-to-use-panel div.step img {
        width: 200px;
}

div.how-to-use-panel div.step p {
        text-align: center;
        font-family: "Roboto";
        font-size: 20px;
        margin-top: 10px;
}
