{% extends "base2.html" %}

{% load static %}

{% block basehead %}
  <link rel="stylesheet" type="text/css"
    href="{% static 'home/privacy.css' %}" />
  <script type="text/javascript"
    src="{% static 'home/privacy.js' %}"></script>
{% endblock %}

{% block basebody %}
<div class="privacy-panel">
  <p class="title">Privacy Policy, Terms and Conditions</p>
  {% for p in privacy %}
    <p class="privacy-name">{{ p.name }}</p>
    {% for d in p.details %}
      <p class="privacy-detail">{{ d }}</p>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
