{% extends "common.html" %}

{% block htmlhead %}

{% load static %}
<link rel="icon" href="{% static 'home/favico.png' %}">
<link rel="stylesheet" type="text/css"
  href="{% static 'home/base.css' %}" />
<script type="text/javascript"
  src="{% static 'home/base.js' %}"></script>
<script type="text/javascript"
  src="{% static 'home/jquery.dialog.min.js' %}"></script>
<link rel="stylesheet" type="text/css"
  href="{% static 'home/jquery.dialog.css' %}" />

  {% block basehead %}
  {% endblock %}

{% endblock %}

{% block commonbody %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=1841824136111185&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  {% include "header.html" %}

  {% block basebody %}
  {% endblock %}

  <div class="load-modal"></div>

  {% include "footer.html" %}

{% endblock %}
