{% block appbody %}
    {% load static %}
    <link rel="stylesheet" type="text/css" 
          href="{% static 'home/style.css' %}" />
    <div class="cart-panel">
        <div class='cart-item'>
            <div class='index'>SNo.</div>
            <div class='name'>Name</div>
            <div class='qty'>Qty</div>
            <div class='cost'>Cost</div>
        </div>
        {% for item in cart %} 
        <div class='cart-item'>
            <div class='index'>{{ forloop.counter }}</div>
            <div class='name'>{{ item.name }}</div>
            <div class='qty'>
                <div class="plus">+</div>
                <label>{{ item.qty }}</label>
                <div class="minus">-</div>
            </div>
            <div class='cost'>{{ item.cost }}</div>
        </div>
        {% endfor %}
        <div class="checkout">Checkout</div>
    </div>
{% endblock %}
