{% load static %}

<div class="panel-4">
  <div id="footer-panel" class="footer-panel-override">
    <div class="left">
      <a href="/home/">
      <img class="logo" 
           src="{% static 'home/images/F2F_logo_img_colour.png' %}" alt="" />
      <img class="title" 
           src="{% static 'home/images/F2F_logo_img_title.png' %}" alt="" />
      </a>
    </div>
    <div class="right">
      <div id="col-1" class="col">
        <a href="/home/">
          <p id="home" class="link">Home</p>
        </a> 
        <p id="our-story" class="link">Our Story</p>
        <p id="our-process" class="link">Our Process</p>
        <a href="/home/shop/">
          <p id="shop" class="link">Shop</p>
        </a>
        <p id="subscribe" class="link">Subscribe</p>
        <div class="social">
          <img class="icon" id="facebook" 
               src="{% static 'home/images/social_facebook.png' %}" alt="" />
          <img class="icon" id="instagram" 
               src="{% static 'home/images/social_instagram.png' %}" alt="" />
          <img class="icon" id="twitter" 
               src="{% static 'home/images/social_twitter.png' %}" alt="" />
          <img class="icon" id="googleplus" 
               src="{% static 'home/images/social_googleplus.png' %}" alt="" />
        </div>
      </div>
      <div id="col-2" class="col">
        <p id="help" class="link">Help</p>
        <p id="shipping" class="link">Shipping Costs and Times</p>
        <p id="privacy" class="link">Privacy Policy</p>
        <p id="return" class="link">Return Policy</p>
      </div>
    </div>
  </div>
</div>
