{% load static %}

<div class="panel-0">
  <div id="title-panel" class="title-panel-override">
    <a href='/home/'>
      <img class="logo-main" 
           src="{% static 'home/images/F2F_logo_img_colour.png' %}" alt="" />
      <img class="logo-title" 
           src="{% static 'home/images/F2F_logo_img_title.png' %}" alt="" />
    </a>
      <a href='/cart/'>
      {% if cart_size %}
      <div class='cart'><p>{{ cart_size }}</p></div>
      {% else %}
      <div class='cart'><p>0</p></div>
      {% endif %}
    </a>
    {% if valid_user %}
    <a href="/logout/?next={{ request.path }}">
      <label class='title-link' id='user'>Hello {{ valid_user }}!</label>
    </a>
    <label class='title-link' id='my-account'>MY ACCOUNT</label>
    {% else %}
    <a href="/signin/?next={{ request.path }}">
      <label class='title-link' id='login'>LOGIN</label>
    </a>
    {% endif %}
    <label class='title-link' id='subscribe'>SUBSCRIBE</label>
    <a href="/home/shop/">
      <label class='title-link' id='shop'>SHOP</label>
    </a>
  </div>
</div>
