{% load static %}

<div class="panel-0">
  <div id="title-panel" class="title-panel-override">
    <a href='/home/'>
      <img class="logo-main" 
           src="{% static 'home/images/F2F_logo_img_colour.png' %}" alt="" />
      <img class="logo-title" 
           src="{% static 'home/images/F2F_logo_img_title.png' %}" alt="" />
    </a>
    <label class='title-link' id='cart'>CART</label>
    <label class='title-link' id='my-account'>MY ACCOUNT</label>
    <label class='title-link' id='subscribe'>SUBSCRIBE</label>
    <a href="/home/shop/">
      <label class='title-link' id='shop'>SHOP</label>
    </a>
  </div>
</div>
