{% load static %}

<div class="review-main">
  <link rel="stylesheet" type="text/css"
    href="{% static 'home/review.css' %}" />
  <script type="text/javascript"
    src="{% static 'home/review.js' %}"></script>
  <p class="hear-other">Hear what other people had to say about this facemask</p>
  <div class="review-panel">
    <p class="header">39 people rated it an average of 4.6</p>
    <div class="review">
      <img class="profile" src="{% static 'facepackwizard/images/10286985_10202895233560816_8859614772393923562_o.png' %}" alt="" />
      <div class="details">
        <div class="rating">
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star empty"></div>
        </div>
        <p class="title">Best moisturizer for combination skin!</p>
        <p class="sub-title">By Sudha Bhat on Mar 13, 2017</p>
        <p class="details">Pa endam quamusa ndusapit quam ressi nobissit re cusanis verferf erspidis ipsa nihillum sinihil lorrum res et venduci. ressi nobissit re cusanis verferf erspidis ipsa nihillum sinihil lorrum res et venduci...</p>
      </div>
    </div>
    <div class="review">
      <img class="profile" src="{% static 'facepackwizard/images/13769617_10153996554223743_3342089982155892689_n.png' %}" alt="" />
      <div class="details">
        <div class="rating">
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
        </div>
        <p class="title">Changed my life!</p>
        <p class="sub-title">By Hambir Chavan on Feb 21, 2017</p>
        <p class="details">Pa endam quamusa ndusapit quam ressi nobissit re cusanis verferf erspidis ipsa nihillum sinihil lorrum res et venduci. ressi nobissit re cusanis verferf erspidis ipsa nihillum sinihil lorrum res et venduci...</p>
      </div>
    </div>
    <div class="review">
      <img class="profile" src="{% static 'facepackwizard/images/13599796_10153948991218743_8463291712287361785_n.png' %}" alt="" />
      <div class="details">
        <div class="rating">
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star full"></div>
          <div class="star empty"></div>
        </div>
        <p class="title">Worked wonders for me, but...</p>
        <p class="sub-title">By Nilotpal Sensarkar on Jan 19, 2017</p>
        <p class="details">Pa endam quamusa ndusapit quam ressi nobissit re cusanis verferf erspidis ipsa nihillum sinihil lorrum res et venduci. ressi nobissit re cusanis verferf erspidis ipsa nihillum sinihil lorrum res et venduci...</p>
      </div>
    </div>
  </div>
  <p class="see-more">SEE MORE</p>
</review>
