packages:
  yum:
    git: []
    libffi-devel: []
    python34-devel: []
    mysql-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: farms2face/farms2face/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: farms2face.settings
    PYTHONPATH: /opt/python/current/app/farms2face:$PYTHONPATH
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: farms2face/static/

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_sync_f2f_db.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      sudo sh -c '/opt/elasticbeanstalk/bin/get-config environment --output YAML | grep : | sed s/:\ /=/g | sed s/^/export\ /g > /etc/environment';
      #sed s/farms2face/ebdb/ /opt/python/current/app/f2f.sql | mysql -h $(sudo /opt/elasticbeanstalk/bin/get-config environment --output YAML | grep HOSTNAME | awk '{print $NF}') -P 3306 -u farms2face -pfarms2face ebdb

#container_commands:
  #01_collectstatic:
     #command: "sudo /opt/python/run/venv/bin/python /opt/python/current/app/farms2face/manage.py collectstatic --noinput"
