packages:
  yum:
    git: []
    libffi-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: farms2face/wsgi.py

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_sync_f2f_db.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      sed s/farms2face/ebdb/ /opt/python/current/app/f2f.sql | mysql -h $(sudo /opt/elasticbeanstalk/bin/get-config environment --output YAML | grep HOSTNAME | awk '{print $NF}') -P 3306 -u farms2face -pfarms2face ebdb
